<%-include('../particals/head.ejs')%>
<section id="changepassword">
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="form">
            <form action="" method="post">
                <h5>CHANGE PASSWORD</h5>
                <h6><%=message%></h6>
            <label for="">current password</label><input type="password" name="cpass" id="" class="form-control">  
            <label for="">new password</label><input type="password" name="npass" id=""class="form-control">
            <label for="">confirm password</label><input type="password" name="confirmpass" id=""class="form-control">
            <button type="submit" class="btn btn-success form-control mt-3">Submit</button>
        </div>
            </form>
        </div>
    </section>
        <div class="col-md-3"></div>
    </div>
</div>

</section>
</body>
</html>